<a href="https://colab.research.google.com/github/P-Wambua/Introduction-to-Data-Science-Python-Basics/blob/main/001_class_week_one_%2BAssignment_Wk2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Challenge 1
# Run the code below then try to figure out what happens.
# Then from your understanding, provide a documentation to the program
# NB: By documentation we mean add comments to the program
# to help the reader to understand the program.
# Hint: Explain each line of the program.
#

# we define the months of the year (list)
months = ['January', 'February', 'March', 'April',
          'May', 'June', 'July', 'August', 'September',
          'October', 'November', 'December']

# a manipulation/an action performed on the calendar months
def showCalendar(months):
  for month in months:
    print(month)

# display the output
showCalendar(months)

January
February
March
April
May
June
July
August
September
October
November
December

### Variables

In [ ]:
# Example 1
# we store the value 10 in a variable p

p = 10
print(p)

x = 15
print(x)

10
15

In [ ]:
# Example 2

# create a variable book
book = "Harry Potter and the Prisoner of Azkaban"
print(book)

Harry Potter and the Prisoner of Azkaban

In [ ]:
# Challenge 2

quote_2 = "Einstein"
print(quote_2)

Einstein

### Operators

In [ ]:
# Example 3
# operators like addition, multiplication, etc are possible with python

a = 20
b = 40

print(a + b)
print(a - b)
print(a / b)
print(a * b)

60
-20
0.5
800

In [ ]:
# Example 4
# what if we assigned the value of a+b to a

a = a + b
print(a)

380

In [ ]:
# Example 5
# increment operator +=

a = 10

In [ ]:
a += 1
print(a)

20

In [ ]:
# Example 6
# decrement operator

a -= 1
print(a)

15

In [ ]:
# Example 7
# Exponent **
# Modulo %

print (4 ** 3)
print (18 % 7)

64
4

In [ ]:
# Example 8
# if 3 persons have 3 notes of Ksh 50, Ksh 100, Ksh 500
# create variables person 1, person 2, person 3
# find out the average of their money

person_1 = 50
person_2 = 100
person_3 = 500

average = (person_1 + person_2 + person_3) / 3

print (average)

216.66666666666666

In [ ]:
# Challenge 2
# An online shop sells designer jeans and t-shirts.
# Each jeans costs Ksh. 4500 and t-shirt costs Ksh. 2500.
# Calculate the cost below if you were to buy 3 pairs of jeans and 6 t-shirts
# using variables and operators.
#
# OUR CODE GOES HERE

jeans = 4500
tshirts = 2500

cost = (3*jeans + 6*tshirts)
print (cost)

In [ ]:
# Challenge 3
# We have Ksh 1000, which you invest with a 10% return each year.
# After one year, it's 1000 × 1.1 = 1100 shillings, and after two years
# it's 1000 × 1.1 × 1.1 = 121.
# Now, write code below to calculate how much money
# you would end up with after 7 years.
# How much is your Ksh. 1000 worth after 15 years?
# ----------
# Hint: Instead of calculating with the actual values, you can use variables instead.
# The savings variable you've created in the previous exercise represents the Ksh 1000 you started with.
# It's up to you to create a new variable to represent 1.1 and then redo the calculations!
# ----------

# We can recreate the savings variable that we will use below
#
#savings = 1000

# and create a growth_multiplier variable that is equal to 1.1.
#OUR CODE GOES HERE

# Then create a result variable and equal it to the amount of money you saved after 7 years.

# Then print out the value of result below

savings = 1000
interest = 1.1

two_years = savings + savings*(interest)**2
print (two_years)

seven_years = savings + savings*(interest)**7
print (seven_years)

fifteen_years = savings + savings*(interest)**15
print (fifteen_years)

### Input

In [ ]:
# Example 9
# the input () function allows for user input

g = input("Enter your name: ")
print ("Hi", g)

Enter your name: Epic Learn
Hi Epic Learn

In [ ]:
# Example 10
# the user input can also be a number

x = input("Enter a number:")
x = int(x)

print (x + 20)

Enter a number:50
70

In [ ]:
# Challenge 4
# Many people around the world think about their height in feet and inches
# even here in Africa where many countries use the metric system.
# Write a program reads the height in metres then converts it to
# feet and inches. The program should display the equivalent
# height in feet and inches.
# NB: You can look up the necessary conversion factors on the web.
#

# OUR CODE GOES HERE

#height_metres = input("Enter your height in metres: ")
#height_metres = float(height_metres)

h = input("Enter your height in metres: ")
h = float(h)
print (h*3.28084)

In [ ]:
# Challenge 5
# Given a certain column of data that has radius, a data scientist would like
# to compute the volume the respective cylinder and save the result to a new column.
# Thus, write a program that reads the radius of cylinder, along with its height
# from the user to calculate the volume in the console.
#
#OUR CODE GOES HERE
#Volume = pi*r**2*h

pi = 3.142
r = input ("Enter the radius: ")
r = float (r)
h = input ("Enter the height: ")
h = float (h)
volume  = pi*r**2*h
print (volume)

In [ ]:
# Challenge 6
# While paying for her parking fee of Ksh. 50 , Jane inserts a Note into
# the paying machine and gets back her change.
# Write a program that reads as input the note greater than Ksh. 200
# and returns change in notes of 100 and 50.
# Use the knowledge of variables to printing, comments, operators
# and input to print the no of denominations given
#
#OUR CODE GOES HERE

note = input("Enter the note value: ")
note = int(note)

change = note - 50
den_100 = int(change / 100)
den_50 = int((change % 100) / 50)

print ("Ksh 100 notes: ",den_100, "\nKsh 50 notes: ", den_50) #\n is a linebreak

# print ("Ksh 100 notes: ", den_100, "\nKsh 50 notes: ", den_50)

Enter the note value: 500
Ksh 100 notes:  4
Ksh 50 notes:  1

### Data Types

In [ ]:
# strings, integers, floats, boolean values

# Example 11
# integer data type
50

# float data type
3.142

# string data type
"This is Epic"

# boolean data type
True

True

In [ ]:
# displaying some data types

print (50)
print(3.142)
print("This is Epic")
print(True)

50
3.142
This is Epic
True

In [ ]:
# Example 12
# explic specification of a data type

x = int(50)
y = float(3.142)
z = str("This is Epic")
a = bool(True)

print(z)

This is Epic

### Finding Out Types

In [ ]:
# Example 13
# type function allows us to check the data type

print(type (x))
print(type (y))

<class 'int'>
<class 'float'>

In [ ]:
# Example 14
x = int (50)

print (float(x))

50.0

In [ ]:
# Example 15

y = float(3.28084)

print (int(y))

3

In [ ]:
# Example 16

type (16 / 4)

float

In [ ]:
# Example 17

type (7 * 3.5)

float

In [ ]:
# Example 18

type (3 // 2)

int

In [ ]:
True
False

False

In [ ]:
# Example 19
# type of a boolean value

type (True)

bool

In [ ]:
# convert a string into an integer

a = '1'
print (int(a))

1

In [ ]:
# convert an integer into a string
a = int(1)
a = str(a)

print(a)

1

### Conditional (if) Statements

In [ ]:
# Example 20
# we such statements by using the if statement

x = 200
y = 100

if y < x:
  print ("x is a better number")

x is a better number

In [ ]:
# Example 21
# take inputs from a user

x = input("Enter a value for x: ")
y = input("Enter a value for y: ")

if y > x:
  print ("y is greater than x")

Enter a value for x: 45
Enter a value for y: 45

### ELSEIF (elif)

In [ ]:
# Example 22
# take inputs from a user

x = input("Enter a value for x: ")
y = input("Enter a value for y: ")

if y > x:
  print ("y is greater than x")
elif x==y:
  print ("x and y are equal")
elif y <x:
  print("y is less than x")

y is greater than x

In [ ]:
# Challenge 7
# write a program that reads an integer
# from a user then displays a message indicating
# whether the integer is even or odd.
#

x = input("Enter a number: ")
x = int(x)

if (x % 2) == 0:
  print ("You gave us an even number")
elif (x % 2) != 0:
  print ("You gave us an odd number")

Enter a number: 21
You gave us an odd number

In [ ]:
# Challenge 8
# Can you write a program that has a third option to detect prime numbers?
#

OUR CODE GOES HERE

In [ ]:
# Challenge 9
# We now write a program that reads a input from a user.
# If the user enters a, e, i, o or u then our program should
# display a message indicating that the entered letter is a vowel.
# If our user enters y then our program should display a message
# indicating that sometimes y is a vowel, and sometimes y is a consonant.
# Otherwise our program should display a message indicating that the
# letter is a consonant.
#

letter = str(input("Enter a letter of the alphabet"))

if letter == "a" or letter == "e" or letter =="i" or letter == "o" or letter == "u":
  print ("The letter is a vowel")
elif letter == "y":
  print("Sometimes y is a vowel or a consonant")
else:
  print("The letter is a consonant")

Enter a letter of the alphabetp
The letter is a consonant

In [4]:
# Challenge 10
# Let's now also write another program that asks for a number and computes the
# square of that number. If the square is 100 or greater, print the squared value
# and the word 'big'. Otherwise if the square is 50 or greater, print the
# squared value and the word 'medium'. Otherwise just print 'too small to bother with'.
# Hint: To compute squared, use x*x or x**2
#

number = input ("Enter the number: ")
number = int (number)
square = number**2

if square >= 100:
  print (square, 'Big')
elif square >= 50:
  print (square, 'Medium')
else:
  print (square, 'Too small to bother with')

Enter the number: 8
64 Medium

### Else

In [ ]:
# Example 23
# the else key word catches anything else not considered in the previous statements
# conditions

x = 150
y = 54

if y == x:
  print ("The numbers are the same")
elif y <x:
  print ("y is less than x")
else:
  print ("y is greater than x")

y is less than x

In [ ]:
# Example 24
# prompt the user for an input


temp_outside = float(input("What is the temperature outside? "))

if temp_outside > 27:
  print("No need for a sweater")
else:
  print("Wear a sweater")

What is the temperature outside? 12
Wear a sweater

In [ ]:
# Challenge 11
# Let's write a program that reads a month and day from the user.
# If the month and day matches one of the holidays listed previously
# then the program should display the Kenyan holiday’s name.
# Otherwise our program should indicate that the entered month and day
# do not correspond to a holiday. (You should use the else keyword)
#

month =int(input("Enter the month: "))
day = int(input("Enter the day: "))

if month == 6 and day == 1:
  print ("Madaraka Day")
elif month == 10 and day == 20:
  print ("Mashujaa Day")
else:
  print ("Entered month and day do not correspond to a holiday")

Enter the month: 6
Enter the day: 1
Madaraka Day

In [23]:
# Challenge 12
# Write a program that reads a wavelength from the user and reports its color.
# Display an appropriate error message if the wavelength entered by the user
# is outside of the visible spectrum.
# (You can do external research on this challenge to determine the wavelength).
# You should use the else keyword.

#Violet: Shortest wavelength, around 380-436 nm.
#Blue: Shorter wavelengths, around 436-495 nm.
#Green: Intermediate wavelengths, around 495-566 nm.
#Yellow: Slightly longer wavelengths, around 566-589 nm.
#Orange: Longer wavelengths, around 589-627 nm.
#Red: Longest wavelength, around 627-780 nm.

wavelength = input ("Enter the wavelength: ")
wavelength = int (wavelength)

if wavelength >= 380 and wavelength < 436:
  print ("Violet")
elif wavelength >= 436 and wavelength < 495:
  print ("Blue")
elif wavelength >= 495 and wavelength < 566:
  print ("Green")
elif wavelength >= 566 and wavelength < 589:
  print ("Yellow")
elif wavelength >= 589 and wavelength < 627:
  print ("Orange")
elif wavelength  >= 627 and wavelength < 780:
  print ("Red")
else:
  print ("outside viseable spectrum")

Enter the wavelength: 790
outside viseable spectrum

In [ ]:
# Challenge 13
# Let's create a program that reads the name of a month from the user as a string,
# then displays the number of days in that month.
# The length of a month varies from 28 to 31 days.
# The program needs to also display “28 or 29 days” for February
# so that leap years are taken into account.
# The program should use the else keyword.
#

month = input("Enter the month: ")
month = str (month)

if month == "January" or month == "March" or month == "May" or month == "July" or month == "August" or month == "October" or month == "December":
  print ("31 days")
elif month == "February"
  print ("28 or 29 days")
else:
  print ("30 days")

### Loops and Iterations

In [ ]:
# using for
# iterating over a range
# Example 25

for number in range (5):   #iterates from 0 upto 4
  print (f"Iteration {number}") # f-string, it allows expressions within a string

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

In [24]:
# Example 26
# open interval (x,y) up to y-1
# closed interval [x,y] y is part of the interval


for number in range (1, 11):    #iterates from 0 to 10
  print (f"Iteration {number}")

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [ ]:
# Example 27

# creating a list of countries
countries = ["Kenya", "Rwanda", "Uganda", "Zambia"]

for country in countries:
  print (f"My Country is {country}")

My Country is Kenya
My Country is Rwanda
My Country is Uganda
My Country is Zambia

In [25]:
# using while
# loops until a condition is met

count = 1 #starts count from 1
while count <= 5: # will count upto 5
  print (f"Count is {count}")
  count += 1 #  += an increment operator. In this case it ensures count is increasing by 1; otherwise it'll run infinitely
            #+= 2 will increase count by 2

Count is 1
Count is 2
Count is 3
Count is 4
Count is 5

In [ ]:
# simple countdown timer
# Example 28

timer = 10 #starts timer from 10
while timer > 0: #will count down upto 1
  print (f"Time remaining: {timer} seconds")
  timer -= 1
print ("Happy New Year!")

Time remaining: 10 seconds
Time remaining: 9 seconds
Time remaining: 8 seconds
Time remaining: 7 seconds
Time remaining: 6 seconds
Time remaining: 5 seconds
Time remaining: 4 seconds
Time remaining: 3 seconds
Time remaining: 2 seconds
Time remaining: 1 seconds
Happy New Year!

### Break and Continue

In [ ]:
# break: Exit the loop prematurely
# stop the loop when a condition has been met

for year in range (12,35):
  if year == 20:
    print("All adolescent ages considered")
    break
  print(year)

12
13
14
15
16
17
18
19
All adolescent ages considered

In [ ]:
# continue
# skip certain iterations

for i in range (10):
  if i % 2 == 0: # skips even numbers
    continue
  print (i)

1
3
5
7
9

In [ ]:
# loops reduce redundancy by automating repetitive task
# print a pattern manually

print("*")
print("**")
print("***")
print("****")

*
**
***
****

In [ ]:
# use a loop to print the same pattern
for i in range (1,5):
  print("*" * i)

*
**
***
****

In [ ]:
# Challenge 14
# Problem: Print numbers from 1 to 20. For multiples of 3, print "Fizz";
# for multiples of 5, print "Buzz"; for multiples of both, print "FizzBuzz."

#MY PRACTICE
#for number in range (1, 21)

# if number % 3 == 0 and number % 5 == 0:
  # print ("FizzBuzz")
# elif number % 5 == 0:
  # print ("Buzz")
# elif number % 3 == 0:
  # print ("Fizz")
# else:
  # print (number)

# Teacher's work
for i in range (1,21):
  if i % 3 == 0 and i % 5 == 0:
    print ("FizzBuzz")
  elif i % 5 == 0:
    print ("Buzz")
  elif i % 3 == 0:
    print ("Fizz")
  else:
    print (i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

In [ ]:
# Challenge 15
# write a program that reads an integer
# from a user then displays a message indicating
# whether the integer is even or odd.
# Can you write a program that has a third option to detect prime numbers?
#

x = input("Enter a number: ")
x = int(x)

# check if x is prime
if x > 1:
  is_prime = True
  # we will check for factors from 2 maybe to a sqrt of the number
  for i in range (2, int(x ** 0.5)+ 1): # 61/2, 61/3, 61/4, 61/5, 61/6, 61/7, 61/8
    if x % i == 0:
      is_prime = False
      break
else: # everything (== or < 1) is considered here
  is_prime = False

# integer odd, even , prime
if is_prime:
  print ("You gave us a prime number which is also odd")
elif (x % 2) == 0:
  print ("You gave us an even number")
else:
  print ("You gave us an odd number")

Enter a number: 11
You gave us a prime number

In [ ]:
# Challenge 16
# Password Validation
# Problem: Prompt the user to enter a password. Allow up to 3 attempts before locking them out.

correct_password = 'Kenya123' # To set the passoword
attempt = 0
max_attempts = 3

while attempts < max_attempts
  password = input ("Enter the password: ")
  if password == correct_password
    print ("Login successful")

In [31]:
# Challenge 17
# Summation: Find the sum of all even numbers between 1 and 100.
# # Using a loop to sum even numbers

total_sum = 0 #for sum to start from 0
for number in range (1,101): # sets the range to be between 1 and 100
  if number % 2 == 0: # sets the number to an even number
   total_sum += number # for increment with the even number
print (f"The sum of all even numbers between 1 and 100 is: {total_sum}")

The sum of all even numbers between 1 and 100 is: 2550

In [1]:
# Challenge 17
# Summation: Find the sum of all even numbers between 1 and 100.
# # Using a loop to sum even numbers

total_sum = 0 #for sum to start from 0
for number in range (1,101): # sets the range to be between 1 and 100
  if number % 2 == 0: # sets the number to an even number
   total_sum += number # for increment with the even number
print (f"The sum of all even numbers between 1 and 100 is: {total_sum}")

The sum of all even numbers between 1 and 100 is: 2550